modules = ["java", "java-11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Child Vaccine Tracker"

[[workflows.workflow]]
name = "Child Vaccine Tracker"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src && ./mvnw spring-boot:run -Dspring-boot.run.jvmArguments=\"-Dserver.port=5000\""
waitForPort = 5000

[deployment]
run = ["sh", "-c", "cd src && ./mvnw spring-boot:run -Dspring-boot.run.jvmArguments=\"-Dserver.port=5000\""]
